<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>FitnessProgram</title>
	<link rel="icon" type="image/png" href="../image/running.png">
	<link rel="stylesheet" type="text/css" href="../style/reset.css">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<script type="text/javascript" src="../resource/jquery-3.2.1.min.js"></script>
    <script src="../resource/react.js"></script>
    <script src="../resource/react-dom.js"></script>
    <script src="../resource/browser.min.js"></script>
</head>
<body>
	<header>
		<button><img width="20" height="20" src="../image/menu.png"></button>
		<div class="header">
			<h1>Fitness</h1><h2>Program</h2>
		</div>
	</header>
	<nav>
		<div class="li">每週課表</div>
		<div class="li">胸</div>
		<div class="li">背</div>
		<div class="li">肩</div>
		<div class="li">腿</div>
		<div class="li">腹</div>
		<div class="li">二頭</div>
		<div class="li">三頭</div>
		<button><img src="../image/left.png"></button>
	</nav>
	<main>
		
	</main>
</body>
</html>